

// Primary Color
$primary-color: #42a5f5;
$primary-hover-color: #1e88e5;
$primary-light-color: #90caf9;
$primary-background-color: #e3f2fd;

// Success Color
$success: #66bb6a;
$success-hover: #43a047;
$success-light: #a5d6a7;
$success-background: #e8f5e9;

$success-colors: (
  success: #66bb6a,
  success-hover: #43a047,
  success-light: #a5d6a7,
  success-background: #e8f5e9,
);

// Error Color
$error-color: #ef5350;
$error-hover-color: #e53935;
$error-light-color: #ef9a9a;
$error-background-color: #ffebee;

// Warning Color
$warning-color: #ffcc80;
$warning-hover-color: #ffb74d;
$warning-light-color: #ffe0b2;
$warning-background-color: #fff3e0;

// Typography Color
$primary-text-color: #000;
$secondary-text-color: #fff;

// Background color
$background-color: #fff;

// Other Color
$disabled-color: #bbb5b5;

$code-block-background: rgb(0, 30, 60);
$code-block-border: rgb(19, 47, 76);
$code-block-text: rgb(248, 248, 242);


